<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <h4>
    We are the largest provider of useless items in North America. All our products are certified unusable. If they ever come in handy we have a no fee return policy.
  </h4>
</section>